<div>
  <div *ngIf="!createView">
      <button mat-raised-button color="primary" (click)="toggleCreateView()">Create new</button>
  </div>
  <div *ngIf="createView">
      <form class="new-collection-form">
          <mat-form-field class="name-control">
            <input matInput placeholder="Name" value="" name="name" [(ngModel)]="collection.name">
          </mat-form-field>
        
          <div class="button-control">
              <button matInput mat-raised-button color="primary" (click)="submitCollection()">
                  {{ this.isUpdate ? 'Update' : 'Create' }}
              </button>
              <button matInput mat-raised-button color="primary" (click)="cancelCreate()">
                  Cancel
              </button>
          </div>
        </form>
  </div>
</div>
