<h2 mat-dialog-title>Create new Request</h2>
<div mat-dialog-content>
  <form class="new-request-form">
      <mat-form-field class="name-control">
        <input matInput placeholder="Name" value="" name="name" [(ngModel)]="request.name">
      </mat-form-field>
      <mat-form-field class="template-control">
        <input matInput placeholder="Template" value="" name="template" [(ngModel)]="request.template">
      </mat-form-field>
      <mat-form-field class="http-method-control">
        <mat-select placeholder="HTTP Method" [(value)]="request.http_method">
          <mat-option *ngFor="let method of httpMethods" [value]="method.key">
            {{method.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>  
    <button matInput mat-raised-button color="primary" (click)="submitRequest()">
        {{ this.isUpdate ? 'Update' : 'Create' }}
    </button>
  <button matInput mat-raised-button [mat-dialog-close]>
      Cancel
  </button>
</div>
