<mat-sidenav-container [class.m2app-dark]="isDarkTheme">
  <mat-sidenav #sidenav mode="over" class="app-sidenav" color="primary">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Settings</span>
        <span class="app-toolbar-filler"></span>
        <mat-icon class="example-icon">build</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span>Account</span>
        <span class="app-toolbar-filler"></span>
        <mat-icon class="example-icon">account_circle</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <button mat-raised-button color="accent" class="app-sidebar-button">
          <mat-icon class="example-icon">verified_user</mat-icon>
          Login
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-button class="app-menu-button" (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>
    <span class="title">Dalaran</span>
  </mat-toolbar>

  <div class="app-content">
    <mat-card>
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </div>
</mat-sidenav-container>