<mat-sidenav-container [class.m2app-dark]="isDarkTheme">
  <app-loader></app-loader>
  <mat-toolbar color="primary">
    <a [routerLink]="['/']" class="title">
      Dalaran
    </a>

    <div class="user-controls">
      <button mat-button [matMenuTriggerFor]="menu">{{!!username ? username : "Profile"}}</button>
      <mat-menu #menu="matMenu">      
        <button *ngIf="username" mat-menu-item>
          {{username}}
        </button>
  
        <button *ngIf="username" mat-menu-item (click)="logout()">
          Logout
        </button>
  
        <button *ngIf="!username" mat-menu-item (click)="login()">
          Login
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <div class="app-content">
    <mat-card>
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </div>
</mat-sidenav-container>