<div class="row">
  <div class="col">
    <div class="tile-body">
      <h2>All Collections</h2>
      <hr>
      <button matInput mat-raised-button color="primary" (click)="openCreateDialog()">Create new</button>
      <app-collection-list (collectionId)="setCollectionDetails($event)"></app-collection-list>
    </div>
  </div>
  <div class="col">
    <div class="tile-body">
      <app-collection-details *ngIf="collectionId" collectionId="{{collectionId}}" (resourceId)="setResourceDetails($event)"></app-collection-details>
    </div>
  </div>  
  <div class="col">
    <div class="tile-body">
      <app-resource-details *ngIf="resourceId && collectionId" collectionId="{{collectionId}}" resourceId="{{resourceId}}"></app-resource-details>
    </div>
  </div>
</div>